/* .babajicavedetails-container{
    height: 90vh;
    display: flex;
    justify-content: center;
    font-family: "Fraunces", serif;
}

.babajicavedetails-title{
    font-size:6vh;
    font-weight: 500;
}
 */

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(8, minmax(300px, 1fr));
  grid-gap: 10px;
  overflow-x: scroll;
  max-height: 100vh;
  scrollbar-color: transparent transparent;
}

.image-container::-webkit-scrollbar {
  width: 6px;
}

.image-container img {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 0 0.5vw;
}

.babajicavedetails-title {
  font-size: 6vh;
  font-weight: 500;
  margin-left: 20vw;
}

.activities-btn{
  background-color: #014235;
  color: white;
  width: 150px;
  height: 40px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  margin:2vh 40vw;
}

.activities-btn:hover {
  background-color: white;
  color: #014235;
  border: 1px solid #014235;
  cursor: pointer;
}
@media (max-width: 768px) {
  .babajicavedetails-title {
    font-size: 4vh;
    font-weight: 500;
    margin-left: 0;
  }
  .image-container {
    grid-template-columns: repeat(
      8,
      minmax(150px, 1fr)
    ); 
  }
  .activities-btn{
    background-color: #014235;
    color: white;
    width: 150px;
    height: 40px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    margin:2vh 35vw;
  }
}

@media (max-width: 425px) {
  .babajicavedetails-title {
    font-size: 3.5vh !important;
    font-weight: 500;
  }
  .image-container {
    grid-template-columns: repeat(8, minmax(100px, 1fr));
    
  }
  .activities-btn{
    background-color: #014235;
    color: white;
    width: 150px;
    height: 40px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    margin:2vh 30vw;
  }
  
}

@media (max-width: 1024px) {
  .babajicavedetails-title {
    font-size: 5vh;
    font-weight: 500;
  }
}
