.guestexperience-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: "Fraunces", serif;
  background-color: #e8e6e6cc;
  flex-direction: column;
}

.guestexperience-title {
  font-size: 6vh;
  font-weight: 500;
}

.guestexperience-card-container {
  display: flex;
  flex-direction: row;
  height: 90vh;
}
.guestexperience-card {
  width: 80vw;
  height: 90vh;
  display: flex;
  flex-direction: row;
}

.guestexperience-image-container {
  height: 60vh;
  width: 40vw;
}

.guestexperience-image-1 {
  height: 70vh;
  width: 25vw;
  border-radius: 25vh 25vh 0 0;
  margin: 0 20vw;
}

.guestexperience-review-card {
  height: 35vh;
  width: 30vw;
  margin: 20vh;
  background-color: white;
  position: absolute;
  transform: translate(70%, -10%);
  padding: 5vh 5vw;
}

.guestexperience-review-description{
    font-size: 3vh;
}

.guestexperience-review-dash{
    width: 20vw;
    border: 1px solid black;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.guestexperience-review-author{
    font-size: 3vh;
    font-weight: 400;
}


.Carousel-indicators-card {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    position: relative;
    top: 80vh;

  }
  
  .Carousel-indicator-card {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: #ccc; 
  }
  
  .Carousel-indicator-card.active {
    background-color: #333;
  }
@media (max-width: 425px) {
  .Carousel-indicators-card {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    position: relative;
    top: -25vh !important;
    
  }
  .guestexperience-image-1 {
    height: 30vh !important;
    width: 25vw;
    border-radius: 25vh 25vh 0 0;
    margin-top: 30vh;
  }
}

@media (max-width: 1024px) {
  .guestexperience-container {
    height: auto;
  }
  .guestexperience-card {
    width: 80vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .guestexperience-image-container {
    height: 40vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .guestexperience-image-1 {
    height: 40vh;
    width: 25vw;
    border-radius: 25vh 25vh 0 0;
    margin-top: 30vh;
  }
  .guestexperience-review-card {
    height: 40vh;
    width: 80vw;
    /* margin: 20vh; */
    background-color: white;
    position: relative;
    right: 60vw;
    /* transform: translate(70%, -10%); */
    /* padding: 5vh 5vw; */
  }
  .Carousel-indicators-card {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    position: relative;
    top: -20vh;
    
  }
  
  .Carousel-indicator-card {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: #ccc; 
  }
  
  .Carousel-indicator-card.active {
    background-color: #333;
  }
}